.container-main{
    display: grid;
    grid-template-columns: 50% 50%;
    
    h1{
        @include h1;
        margin-top: 20px;
        margin-bottom: 20px
    }

    .sub-title{
        margin-bottom: 20px;
        max-width: 90%;
        @include p;
    }
}

.container-button{
    display: flex;
    gap: 32px;
    align-items: center;
    margin-bottom: 120px;
    a{
        @include estilo-button;
        @include estilo-link;
    }
}

.container-icon{
    display: flex;
    gap: 48px;

    article{
        display: flex;
        gap:16px;
    }
    img{
        
        @include estilo-icon;
    }
    p{
        color: $white;
    }
}

.container-img-principal{
    
    img{
        max-width: 119%;
        height: auto;
    }
}
