@mixin estilo-icon{
    &.icon{
        padding: 2px 14px;
        border-radius: 14px;
        width: 40%;
        background: rgba(255, 255, 255, 0.125);
    }
    &.calendar{
        width: 40%;
    }
}